.city {
    width: 200px;
    height: 260px;
    margin: 2vh 1vh;
    color: white;
    background-color: #212121 !important;
    box-shadow: 15px 15px 30px #19191948,
                 -15px -15px 30px #292929;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
                 transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
   
a:link, a:visited, a:active {
    text-decoration:none; 
}

.city:hover {
border-bottom-right-radius: 50px;
border-top-left-radius: 50px;
transform: scale(1.05);
}

.img{
    height: 100px;
    width: 100px !important;
    margin: auto;
}

.spinner {
    --red: #d62d20;
    --blue: #0057e7;
    --green: #008744;
    --yellow: #ffa700;
    position: relative;
    margin: 25vh auto;
    width: 60px;
   }
   
   .spinner:before {
    content: "";
    display: block;
    padding-top: 100%;
   }
   
   .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
   }
   
   .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
   }
   
   @keyframes rotate {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 89, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dasharray: 89, 200;
     stroke-dashoffset: -124px;
    }
   }
   
   @keyframes color {
    100%, 0% { 
     stroke: var(--red);
    }
   
    40% {
     stroke: var(--blue);
    }
   
    66% {
     stroke: var(--green);
    }
   
    80%, 90% {
     stroke: var(--yellow);
    }
   }