.city {
    width: 200px;
    height: 260px;
    margin: 2vh 1vh;
    color: white;
    background-color: #212121 !important;
    box-shadow: 15px 15px 30px #19191948,
                 -15px -15px 30px #292929;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
                 transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
   
a:link, a:visited, a:active {
    text-decoration:none; 
}

.city:hover {
border-bottom-right-radius: 50px;
border-top-left-radius: 50px;
transform: scale(1.05);
}

.img{
    height: 100px;
    width: 100px !important;
    margin: auto;
}